.filter {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all .3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.filter:hover {
  opacity: .8;
}

.filter__checkbox {
  appearance: none;
  width: 36px;
  height: 20px;
  background-image: url('../../images/smalltumboff.svg');
}

.filter__checkbox_checked {
  background-image: url(../../images/smalltumb.svg);
}

.filter__checkbox:focus {
  border-radius: 10px;
}

.filter__text {
  padding-left: 41px;
  padding-right: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  color: #000;

}

@media screen and (max-width: 1270px){
  .filter{
    padding-top: 38px;
  }
}

@media screen and (max-width: 400px) {
  .filter__text {
    font-size: 11px;
    line-height: 1.64;
  }
}
